<!-- Hero section -->

    <div class="canadian_hero_section">
        <div class="canadian_hero_card">
            <h1>Canadian Web Hosting</h1>
            <h4>Your Website's Perfect Home</h4>
            <p>Get your new project online today on one of Canada’s fastest, most reliable, and most secure web hosting
                platforms.</p>
            <button>Compare web hosting plans</button>
        </div>

    </div>


    <!-- Content Section -->
  

    <div class="container content cwh_content">
        <div class="price_card">
            <span>

                <i class="fas fa-paper-plane"></i>
            </span>
            <h1>Basic</h1>
            <p>Affordable plan, great for personal projects.</p>
            <h3>C$3.89/mo</h3>

            <div class="detail">
                
                <p><i class="fas fa-bicycle"></i> BASIC Performance </p>
                <p> <i class="fas fa-tachometer-alt"></i> Single Website</p>
                <p> <i class="fas fa-globe"></i> Standard Website</p>
                <p><i class="fas fa-lock"></i> Free SSL Certificate</p>
            </div>
            <button>Add To Cart</button>
        </div>



        <div class="price_card">
            <span>

                <i class="fas fa-project-diagram"></i>
            </span>
            <h1>Standard</h1>
            <p>Pro performance, premium features, free domain, and more!</p>
            <h3>C$3.92/mo</h3>

            <div class="detail">
                
                <p><i class="fas fa-bicycle"></i> BASIC Performance </p>
                <p> <i class="fas fa-tachometer-alt"></i> Single Website</p>
                <p> <i class="fas fa-globe"></i> Standard Website</p>
                <p><i class="fas fa-lock"></i> Free SSL Certificate</p>
                <p><i class="fas fa-envelope"></i> Free Email Marketing</p>
                <p><i class="fas fa-seedling"></i> Free Message Marketing</p>
            </div>
            <button>Add To Cart</button>
        </div>


        <div class="price_card">
            <span>

                <i class="fab fa-sellsy"></i>
            </span>
            <h1>Enterprise</h1>
            <p>Best performance for demanding websites, with SSL & dedicated IP.</p>
            <h3>C$4.89/mo</h3>

            <div class="detail">
                
                <p><i class="fas fa-bicycle"></i> BASIC Performance </p>
                <p> <i class="fas fa-tachometer-alt"></i> Single Website</p>
                <p> <i class="fas fa-globe"></i> Standard Website</p>
                <p><i class="fas fa-lock"></i> Free SSL Certificate</p>
                <p><i class="fas fa-envelope"></i> Free Email Marketing</p>
                <p><i class="fas fa-seedling"></i> Free Message Marketing</p>
                <p><i class="fas fa-paper-plane"></i> Free Message Marketing</p>
                <p><i class="fas fa-share"></i> Free Message Marketing</p>
            </div>
            <button>Add To Cart</button>
        </div>
    </div>


