    <!-- Hero section -->
    <div class="hero_section">
        <div class="hero_card">
            <h1>Choose Superior Web Hosting</h1>
            <button>Get Web Hosting</button>
            <p>starting at only <b>$36/mo</b></p>
        </div>
        <div class="hero_card">
            <h1>Find your perfect
                .CA domain name</h1>
            <button>Get Domain name</button>
            <p>starting at only <b>$227/mo</b></p>
        </div>
    </div>


    <!-- Content Section -->

    <div class="container content">
        <div class="content_card">
            <i class="fas fa-server"></i>
            <h3>Web Hosting</h3>
            <p>Get fast and unlimited web hosting for your site</p>
            <button>Get Hosting</button>
        </div>
        <div class="content_card">
            <i class="fas fa-cloud-upload-alt"></i>
            <h3>Cloud Servers</h3>
            <p>Get fast and unlimited web hosting for your site</p>
            <button>compare cloud</button>
        </div>
        <div class="content_card">
            <i class="fas fa-file-upload"></i>
            <h3>Servers</h3>
            <p>Get fast and unlimited web hosting for your site</p>
            <button>view server</button>
        </div>
        <div class="content_card">
            <i class="fab fa-wordpress"></i>
            <h3>Wordpress</h3>
            <p>Get fast and unlimited web hosting for your site</p>
            <button>Get wordpress</button>
        </div>
    </div>



    <!-- Help center -->
    <div class="help">
        <h3>Ready to Get Started? We’re available 24/7!</h3>
        <div class="help_btn_div">
            <button>Call Us 0000000</button>
            <button>Chat with us</button>
        </div>

    </div>